html {
    height: 100%;
    box-sizing: border-box;
}
body{
    height: 100%;
    border-style: solid;
    border-width: 10px;
    border-color: orange;
    background-color: black;
    color: whitesmoke;
    justify-content: space-between;

}
.container {
    display: flex;
    flex-direction:column;
    align-content: center;
    align-items: center;
    justify-content: space-between; 
}
.logo {
    border-style: solid;
    border-width: 10px; 
    border-color: pink;
    height: 15rem;
    justify-content: space-around;
}
.menu {
    border-width: 10px;
    border-color: red;
    width: 5rem;
    align-items: center;
    display: none;
}
select{
    border-style: solid;
    border-color:limegreen;
    border-width: 10px;
    background-color:white;
    border-width:1px;
    width: 7.1rem;
    font-size: large;

}

.articles {
    min-height: 150em;
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.news_copy{
    background: rgba(0, 0, 0, 0.5);
 
    }

footer {
    border-style: solid;
    border-width: 10px; 
    border-color: purple;
    margin-top: 200px;
    font-size: 12px;
    text-align: center;

}
/* In a .css file... */
@media all and (min-width: 600px) {
    /* Targeted CSS goes here... */
    .container {
        border-style: solid;
        border-width: 10px; 
        border-color: paleturquoise;
        display: flex;
        flex-direction:row;
        justify-content: left;
        flex-flow: wrap;
    }
    .site-header {
        border-style: solid;
        border-width: 10px; 
        border-color: hotpink;
        display: flex;
        flex-direction: column;
    }
    .articles {
        min-height: 150em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

  }
  /* In a .css file... */
@media all and (min-width: 1200px) {
    /* Targeted CSS goes here... */
    .container {
        border-style: solid;
        border-width: 10px; 
        border-color: paleturquoise;
        display: flex;
        flex-direction:row;
        align-content: left;
        align-items: left;
        flex-flow: wrap;
    }
    .site-header {
        border-style: solid;
        border-width: 10px; 
        border-color: hotpink;
        display: flex;
        flex-direction: column;

    }
    .articles {
        min-height: 150em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}